/* fonts */
@font-face {
    font-family: 'Gilroy-ExtraBold';
    src: url('../fonts/Gilroy-ExtraBold.eot');
    src: local('../fonts/Gilroy ExtraBold'), local('Gilroy-ExtraBold'),
        url('../fonts/Gilroy-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-ExtraBold.woff') format('woff'),
        url('../fonts/Gilroy-ExtraBold.ttf') format('truetype');
    font-display: auto;
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy-Regular';
    src: url('../fonts/Gilroy-Regular.eot');
    src: local('../fonts/Gilroy Regular'), local('Gilroy-Regular'),
        url('../fonts/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Regular.woff') format('woff'),
        url('../fonts/Gilroy-Regular.ttf') format('truetype');
    font-display: auto;
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy-Medium';
    src: url('../fonts/Gilroy-Medium.eot');
    src: local('../fonts/Gilroy Medium'), local('Gilroy-Medium'),
        url('../fonts/Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Medium.woff') format('woff'),
        url('../fonts/Gilroy-Medium.ttf') format('truetype');
    font-display: auto;
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy-Bold';
    src: url('../fonts/Gilroy-Bold.eot');
    src: local('../fonts/Gilroy Bold'), local('Gilroy-Bold'),
        url('../fonts/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Bold.woff') format('woff'),
        url('../fonts/Gilroy-Bold.ttf') format('truetype');
    font-display: auto;
    font-weight: bold;
    font-style: normal;
}

@gilroy-reg: 'Gilroy-Regular';
@gilroy-bold: 'Gilroy-Bold';
@gilroy-medium: 'Gilroy-Medium';
@gilroy-extra-bold: 'Gilroy-ExtraBold';


/* colors */
@light-grey: #f2f2f2;
@grey: #cccccc;
@dark-grey: #545454;
@orange: #e55222;
@white: #fff;
@light-green: #1fd978;
@green: #00af54;
@dark-blue: #1b133b;
@dark-orange: #af3c17;
@black: #000;
@light-yellow: #ffc800;
@yellow: #ffb900;
@dark-yellow: #ff9b00;
@light-red: #ff3d3d;
@red: #ff0000;
@cherry: #7a140f;
@beige: #fcf6ec;
@purple: #a37bf1;


/* basic settings */
html {
    font-size: 10px;
}

section {
    overflow-x: hidden;
}

body {
    font-family: @gilroy-reg, Geneva, Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
}

.container {
    max-width: 1190px;
}

.main-container {
    max-width: 1140px;
    margin: 0 auto;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.main-title {
    padding-top: 2.5rem;
    padding-bottom: 0.5rem;
    font-family: @gilroy-bold, Geneva, Arial, Helvetica, sans-serif;
    font-size: 5rem;
    line-height: 8rem;
    color: darken(@dark-grey, 10%);
}

.title-block {
    text-align: center;
}

.title {
    font-family: @gilroy-bold, Geneva, Arial, Helvetica, sans-serif;
    font-size: 3.6rem;
    text-transform: uppercase;

    &--orange {
        color: @orange;
    }

    &--white {
        color: @white;
    }

    &--cherry {
        color: @cherry;
    }
}

.header-title-extra {
    font-family: @gilroy-extra-bold, Geneva, Arial, Helvetica, sans-serif;
    font-size: 3rem;
    line-height: 4rem;
}

.title-extra {
    font-family: @gilroy-extra-bold, Geneva, Arial, Helvetica, sans-serif;
    font-size: 3rem;
    line-height: 4.6rem;
    text-transform: uppercase;
    letter-spacing: 0.5rem;

    &::after {
        margin: 3rem auto 0;
        content: '';
        display: block;
        width: 30%;
        height: 2px;
        background: @white;
    }
}

.subtitle {
    font-family: @gilroy-bold, Geneva, Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-align: center;

    &--white {
        color: @white;
    }

    &--orange {
        color: @orange;
    }

    &--dark-grey {
        color: @dark-grey;
    }
}

.text-medium {
    font-family: @gilroy-medium, Geneva, Arial, Helvetica, sans-serif;
    font-size: 1.8rem;
    line-height: 3.6rem;
    color: @dark-grey;
}

.main-form-wrapper {
    background: @white;
    padding: 1rem;
    margin-left: -8rem;

    &-border {
        padding: 2rem 2rem 1rem;
        border: 2px solid @grey;
    }
}

.main-form-title {
    text-align: center;
    margin: 0 auto;
    font-family: @gilroy-bold, Geneva, Arial, Helvetica, sans-serif;
    font-size: 1.8rem;
    text-transform: uppercase;
}

.main-form-text {
    color: lighten(@dark-grey, 10%);
}

.main-form {
    &__input {
        width: 100%;
        padding: 1rem;
        font-size: 1.4rem;
        line-height: 1.4rem;
        border: 1px solid lighten(@dark-grey, 15%);
        background: inherit;
        color: @dark-grey;
    }

    &__input::placeholder {
        color: lighten(@dark-grey, 15%);
        ;
    }

    &__button--red {
        display: block;
        width: 100%;
        padding: 1rem;
        text-transform: uppercase;
        text-align: center;
        background: @red;
        color: @white;
        box-shadow: 0 0 10px rgba(0, 0, 0, 1);
        font-size: 1.5rem;
        transform: 0.5s;
    }

    &__button--red:hover {
        background: darken(@red, 5%);
        color: @white;
    }
}

.form {
    &__input {
        width: 100%;
        padding: 2rem 3rem;
        font-size: 1.8rem;
        line-height: 1.8rem;
        border: 1px solid @white;
        background: inherit;
        color: @white;
    }

    &__input::placeholder {
        color: @white;
    }

    &__button {
        text-transform: uppercase;
        letter-spacing: 0.1rem;
        color: @white;
    }
}

.button {
    display: inline-block;
    transition: 0.5s;

    &:hover {
        cursor: pointer;
        text-decoration: none;
    }

    &--white {
        padding: 2rem 3rem;
        float: right;
        border: 3px solid @white;
        border-radius: 5px;
        background: @orange;
    }

    &--white:hover {
        background: darken(@orange, 5%);
        color: @white;
    }

    &--light-green {
        padding: 2rem 3rem;
        border: 3px solid @light-green;
        border-radius: 5px;
        background: @green;
    }

    &--light-green:hover {
        background: darken(@green, 5%);
        color: @white;
    }

    &--orange {
        padding: 2rem 3rem;
        float: right;
        border: 3px solid @orange;
        border-radius: 5px;
        background: @orange;
    }

    &--orange:hover {
        background: darken(@orange, 5%);
        color: @white;
    }

    &--green {
        padding: 2rem 3rem;
        border: 3px solid @green;
        border-radius: 5px;
        background: @green;
    }

    &--green:hover {
        background: darken(@green, 5%);
        color: @white;
    }

    &--light-yellow {
        padding: 1rem 2rem;
        background: linear-gradient(to bottom, @light-yellow, @dark-yellow, @light-yellow);
        background-size: 120px 120px;
        background-position-y: 0;
        color: @black;
        transition: background-position 200ms ease-out;
    }

    &--light-yellow:hover {
        background-position-y: 40px;
        color: @black;
    }

    &--light-red {
        padding: 1.5rem 8.5rem;
        text-transform: uppercase;
        border-radius: 0.5rem;
        background: linear-gradient(@light-red 50%, @red 51%);
        color: @white;
    }

    &--light-red:hover {
        background-position-y: 40px;
        color: @white;
    }

    &--red {
        width: 100%;
        padding: 1rem 2rem;
        background: @red;
        color: @white;
    }

    &--red:hover {
        background: darken(@red, 5%);
        color: @white;
    }

    &--yellow {
        width: 100%;
        padding: 1rem 2rem;
        background: @yellow;
        color: @black;
    }

    &--yellow:hover {
        background: darken(@yellow, 5%);
        color: @black;
    }

    &--grey {
        border: 1px solid darken(@grey, 10%);
        background: @grey;
        padding: 1rem 2rem;
        color: @black;
    }

    &--grey:hover {
        background: darken(@grey, 5%);
        color: @black;
    }
}

.text--grey {
    color: @grey;
}

.text--dark-grey {
    color: @dark-grey;
}

.catalog-items {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.catalog-item {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 28%;
    margin-bottom: 2rem;
    margin-right: 3rem;
    margin-left: 3rem;
    text-align: center;
    border: 1px solid @orange;

    &__wrapper {
        display: flex;
        flex-direction: column;
        height: 100%;
        padding: 2rem 2rem 0rem;
    }

    &:focus {
        outline: none;
    }

    img {
        height: 25rem;
        max-width: 100%;
        margin: 0 auto;
        margin-bottom: auto;
    }

    &__wrapper {
        // padding: 2rem 2rem 0rem;
    }
}

.price {
    margin-bottom: 2rem;
    font-size: 2.8rem;
    color: @orange;
}

.old-price {
    margin-bottom: 0rem;
    color: darken(@grey, 15%);

    span {
        text-decoration: line-through;
    }
}

.bold {
    font-family: @gilroy-bold, Geneva, Arial, Helvetica, sans-serif;
}

.fz-20 {
    font-size: 2rem;
}

.fz-22 {
    font-size: 2.2rem;
}

.fz-24 {
    font-size: 2.4rem;
}

.fz-30 {
    font-size: 3rem;
}

.w-80 {
    width: 80%;
}

.m-25-mt {
    margin-top: 2.5rem;
}

.m-25-mb {
    margin-bottom: 2.5rem;
}

.m-n13-mt {
    margin-top: -13rem;
}

.m-60-mt {
    margin-top: 6rem;
}

.m-40-mb {
    margin-bottom: 4rem;
}

.m-n2-ml {
    margin-left: -2rem;
}

.p-5-pr {
    padding-right: 5rem;
}

.p-5-pl {
    padding-left: 5rem;
}

.lh-16 {
    line-height: 1.6rem;
}

.lh-20 {
    line-height: 2rem;
}

.lh-46 {
    line-height: 4.6rem;
    letter-spacing: 0.3rem;
}

.lh-35 {
    line-height: 3.5rem;
}

.header-menu {
    @media (max-width: 991px) {
        .phone-list {
            padding-left: 0;
        }

        .button-menu {
            display: block;
            max-width: 70%;
            margin: 0 auto;
            text-align: center;
        }

        .social-list {
            display: flex;
            flex-direction: row;
            justify-content: center;
            padding-left: 0;
            align-items: center;

        }
    }
}

.shadow {
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

nav {
    ul {
        list-style: none;
    }
}

.button-menu {
    padding: 1rem 1rem;
    border-radius: 5px;
    background: @orange;
    font-size: 1.8rem;
    line-height: 2.1rem;
    color: @white;

    &:hover {
        background: darken(@orange, 5%);
        color: @white;
    }
}

.menu-list a {
    color: @black;

    &:hover {
        color: darken(@orange, 5%);
    }

    &:focus {
        color: lighten(@orange, 10%);
    }
}

.phone-list {
    text-align: center;
    line-height: 2rem;
}

.phone-list li:nth-child(1) a {
    font-family: @gilroy-bold, Geneva, Arial, Helvetica, sans-serif;
    font-size: 2.2rem;
    color: @orange;
}

.fixed {
    position: fixed;
    top: 0;
    width: 100%;
    background: @white;
    z-index: 5;
}

.header-content {
    position: relative;
    margin-top: 8.6rem;
    background: url('../img/main-bg.jpg') no-repeat center center /cover;

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.5);
        z-index: 2;
    }

    .main-container {
        position: relative;
        z-index: 3;
        // padding: 15rem;
    }

    @media (max-width: 767px) {
        .content-border {
            margin: 0 auto;
            padding: 5rem;
            text-align: center;
        }

        .bobber {
            margin: 0 auto;
            text-align: center;
        }

        .content-border {
            border: none;
        }

        .main-form-wrapper {
            margin: 0 auto;
            max-width: 70%;
        }
    }

    @media (max-width: 425px) {
        .header-title-extra {
            font-size: 2.5rem;
            line-height: 3rem;
        }

        .content-border p {
            font-size: 1.8rem;
            line-height: 1.8rem;
        }

        .main-form-wrapper {
            max-width: 95%;
        }
    }
}

.bobber {
    display: inline-block;
    margin-left: -4rem;
    padding: 0.7rem 4rem;
    background: @orange;
    color: @white;
    font-size: 1.5rem;

    &--shadow {
        box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    }
}

.content-border {
    padding: 3rem 10.5rem 4rem 2.5rem;
    border: 3px solid @white;
}

.about-tandoor {
    .text-medium {
        text-align: justify;
    }

    &__item {
        display: flex;
        background: @light-grey;
    }

    img {
        object-fit: contain;
        border: 1rem solid @grey;
    }

    &__description {
        padding: 2.5rem 4rem;
    }

    @media (max-width: 1200px) {
        img {
            max-height: 60rem;
        }

        .main-container {
            max-width: 93%;
        }
    }

    @media (max-width: 1094px) {
        .main-title {
            text-align: center;
        }
    }

    @media (max-width: 991px) {
        &__item {
            flex-direction: column;
            max-width: 90%;
            margin: 0 auto;
        }

        img {
            max-height: 50rem;
        }
    }

    @media (max-width: 588px) {
        text-align: justify;

        .main-title {
            font-size: 3.5rem;
            line-height: 4rem;
        }
    }

    @media (max-width: 425px) {
        .main-title {
            padding-bottom: 2rem;
        }

        .text-medium {
            font-size: 1.4em;
            line-height: 2.5rem;
        }

        img {
            max-height: 35rem;
        }
    }
}

.cooking {
    .title::after {
        margin: 3rem auto 0;
        content: '';
        display: block;
        width: 5%;
        height: 2px;
        background: @grey;
    }

    &__wrapper,
    &__description {
        display: flex;
        flex-direction: row;
    }

    &__block {
        width: 50%;
    }

    &__description {
        padding: 3.5rem;
    }

    &__num {
        position: relative;
        padding: 2rem;
        font-size: 5rem;
        color: @grey;
        top: 0rem;
    }

    &__num::after {
        position: absolute;
        // top: 32%;
        top: 7rem;
        left: 1rem;
        content: '';
        width: 100%;
        height: 1px;
        background: darken(@light-grey, 5%);
        transform: rotate(-45deg);
    }

    &__text {
        width: 70%;
    }

    .shashlik-bg {
        height: 30rem;
        background: url('../img/shashlik.jpg') no-repeat center center /cover;
    }

    .fish-bg {
        min-height: 30rem;
        background: url('../img/fish.jpg') no-repeat center center /cover;
    }

    .veggies-bg {
        min-height: 30rem;
        background: url('../img/veggies.jpg') no-repeat center center /cover;
    }

    .bake-bg {
        min-height: 30rem;
        background: url('../img/bake.jpg') no-repeat center center /cover;
    }

    @media (max-width: 991px) {
        &__wrapper {
            flex-direction: column;
        }

        &__block {
            min-height: 30rem;
            width: 70%;
            margin: 0 auto;
        }
    }

    @media (max-width: 648px) {
        &__block {
            width: 90%;
        }
    }

    @media (max-width: 500px) {
        &__block {
            width: 100%;
        }

        &__description {
            padding: 2.5rem;
        }
    }

    @media (max-width: 375px) {
        &__block {
            width: 100%;
        }

        &__description {
            padding: 1.5rem;
        }
    }
}

.border-btm {
    &--orange {
        border-bottom: 3px solid @orange;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    &--light-green {
        border-bottom: 3px solid @light-green;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    &--purple {
        border-bottom: 3px solid @purple;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    &--yellow {
        border-bottom: 3px solid @yellow;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
}

.advantages {
    &__slider {
        text-align: center;
    }

    &__item {
        outline: none;
    }

    &__img {
        margin: 0 auto;
        max-width: 16.4rem;
        max-height: 16.4rem;
    }

    p {
        max-width: 70%;
        font-size: 2rem;
        line-height: 2.4rem;
        color: @dark-grey;
    }

    @media (max-width: 425px) {
        .title {
            font-size: 2.8rem;
        }
    }
}

/* class .arrow belongs to js */
.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 4;
    width: 3rem;
    height: 3rem;
    border: none;
    background-size: 150%;

    &--next-circle {
        right: -3rem;
        width: 7rem;
        height: 7rem;
        background: url("../img/main-arrow-right.png") center no-repeat /cover;
    }

    &--next-circle:focus {
        outline: none;
    }

    &--prev-circle {
        left: -3rem;
        width: 7rem;
        height: 7rem;
        transform: translateY(-50%) rotate(180deg);
        background: url("../img/main-arrow-right.png") center no-repeat /cover;
    }

    &--prev-circle:focus {
        outline: none;
    }

    &--next {
        right: 0;
        background: url("../img/right-arrow.png") center no-repeat /cover;
    }

    &--next:focus {
        outline: none;
    }

    &--prev {
        left: 0;
        transform: translateY(-50%) rotate(180deg);
        background: url("../img/right-arrow.png") center no-repeat /cover;
    }

    &--prev:focus {
        outline: none;
    }

    @media (max-width: 425px) {
        &--next-circle {
            top: 25%;
        }

        &--prev-circle {
            top: 25%;
        }
    }
}

.list {
    font-size: 1.5rem;
    list-style: none;
}

.plus::before {
    content: url('../img/success.png');
    display: inline-block;
    max-width: 3rem;
    max-height: 3rem;
    margin-right: 0.5rem;
    vertical-align: middle;
}

.minus::before {
    content: url('../img/failed.png');
    display: inline-block;
    max-width: 3rem;
    max-height: 3rem;
    margin-right: 0.5rem;
    vertical-align: middle;
}

.video-tandoor {
    position: relative;
    text-align: center;
    background: url('../img/video-tandoor.jpg') no-repeat center center /cover;

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(246, 106, 61, 0.8);
        z-index: 2;
    }

    .main-container {
        position: relative;
        z-index: 3;
        padding: 15rem;
    }

    p {
        padding-top: 2rem;
        font-size: 3rem;
        text-transform: uppercase;
        color: @white;
    }

    @media (max-width: 425px) {
        p {
            font-size: 2.1rem;
        }
    }

    @media (max-width: 767px) {

        .main-container {
            padding: 7rem 0rem;
        }

        img {
            width: 70px;
        }

        p {
            max-width: 80%;
            margin: 0 auto;
        }
    }
}

.compare {
    &__subtitle {
        padding-left: 4rem;
        font-size: 2.2rem;
    }

    @media (max-width: 425px) {
        .title {
            font-size: 2.8rem;
        }

        &__subtitle {
            text-align: center;
        }

        .list {
            padding: 2rem;
        }
    }

    @media (max-width: 767px) {
        img {
            margin: 0 auto;
        }
    }

    @media (min-width: 992px) {
        .m-n4-ml {
            margin-left: -4rem;
            padding-left: 0rem;
        }
    }
}


.consultation {
    background: @orange;

    @media (max-width: 767px) {
        .title-extra {
            font-size: 2.1rem;
            line-height: 3.2rem;
        }

        .subtitle {
            font-size: 1.6rem;
            line-height: 3rem;
        }
    }

    @media (max-width: 991px) {
        .button--white {
            float: none;
            display: block;
            margin: 0 auto;
            text-align: center;
            max-width: 100%;
        }

        .button--light-green {
            display: block;
            text-align: center;
        }
    }
}

.tandoor-catalog {
    text-align: center;

    @media (max-width: 425px) {
        .title {
            font-size: 2.8rem;
        }

        .catalog-item {
            max-width: 95%;
        }

        .tracery {
            display: none;
        }
    }

    @media (max-width: 767px) {
        .catalog-items {
            padding-right: 5rem;
            padding-left: 5rem;
        }

        .catalog-item {
            min-width: 31rem;

        }
    }
}

.quiz {
    text-align: center;
    background: @beige;

    p {
        font-size: 3.6rem;
        color: @cherry;
    }

    @media (max-width: 425px) {
        .title {
            font-size: 2.8rem;
        }

        p {
            font-size: 2.8rem;
        }

        .tracery {
            display: none;
        }

        a {
            display: block;
            flex-wrap: nowrap;
            margin: 2rem auto 0;
            padding: 1rem 2rem;
            max-width: 75%;
            font-size: 2.1rem;
        }
    }
}

.accessories-catalog {
    text-align: center;

    .catalog-item {
        display: flex;
    }


    @media (max-width: 766px) {
        &__slider {
            max-width: 80%;
            margin: 0 auto;
        }
    }

    @media (max-width: 425px) {
        .title {
            font-size: 2.8rem;
        }

        &__slider {
            max-width: 100%;
            margin: 0 auto;
        }

        .tracery {
            display: none;
        }

    }
}



.video-reviews {
    iframe {
        width: 100%;
        height: 300px;
    }

    @media (max-width: 425px) {
        .title {
            font-size: 2.8rem;
        }

        iframe {
            max-height: 210px;
        }
    }

    @media (max-width: 991px) {
        iframe {
            display: block;
            margin: 0 auto;
            max-width: 80%;
        }
    }

}

.contacts {
    padding-top: 4rem;
    padding-bottom: 4rem;
    font-size: 1.8rem;

    &--light-grey {
        background: @light-grey;
    }

    iframe {
        width: 100%;
        height: 450px;
    }

    @media (max-width: 425px) {
        .title {
            font-size: 2.8rem;
        }

        &__mob {
            padding: 2rem 1rem;
            text-align: center;
        }
    }
}

.consultation-footer {
    background: @dark-blue;


    .title-extra::after {
        background: @orange;
    }

    @media (max-width: 767px) {
        .title-extra {
            font-size: 2.1rem;
            line-height: 3.2rem;
        }

        .subtitle {
            font-size: 1.6rem;
            line-height: 3rem;
        }
    }

    @media (max-width: 991px) {
        .button--orange {
            float: none;
            display: block;
            margin: 0 auto;
            text-align: center;
            max-width: 100%;
        }

        .button--green {
            display: block;
            text-align: center;
        }
    }
}

.social-media {
    margin-bottom: 0;
    list-style: none;

    li {
        display: inline;
        padding-right: 1rem;
    }
}

.footer {
    padding-top: 4rem;
    padding-bottom: 4rem;
    background: @dark-orange;

    p {
        margin-bottom: 0;
        line-height: 5.2rem;
        font-size: 1.8rem;
        color: @white;
    }

    img {
        min-height: 5.2rem;
        line-height: 5.2rem;
    }

    @media (max-width: 769px) {
        text-align: center;

        p {
            padding-bottom: 2rem;
            line-height: 2.6rem;
        }

        .social-media {
            padding-left: 0;
            padding-right: 0;
            padding-bottom: 2rem;
        }
    }
}

.slick-track,
.slick-slide {
    height: 100%;
}