/* fonts */
@font-face {
  font-family: 'Gilroy-ExtraBold';
  src: url('../fonts/Gilroy-ExtraBold.eot');
  src: local('../fonts/Gilroy ExtraBold'), local('Gilroy-ExtraBold'), url('../fonts/Gilroy-ExtraBold.eot?#iefix') format('embedded-opentype'), url('../fonts/Gilroy-ExtraBold.woff') format('woff'), url('../fonts/Gilroy-ExtraBold.ttf') format('truetype');
  font-display: auto;
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Gilroy-Regular';
  src: url('../fonts/Gilroy-Regular.eot');
  src: local('../fonts/Gilroy Regular'), local('Gilroy-Regular'), url('../fonts/Gilroy-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Gilroy-Regular.woff') format('woff'), url('../fonts/Gilroy-Regular.ttf') format('truetype');
  font-display: auto;
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Gilroy-Medium';
  src: url('../fonts/Gilroy-Medium.eot');
  src: local('../fonts/Gilroy Medium'), local('Gilroy-Medium'), url('../fonts/Gilroy-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/Gilroy-Medium.woff') format('woff'), url('../fonts/Gilroy-Medium.ttf') format('truetype');
  font-display: auto;
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Gilroy-Bold';
  src: url('../fonts/Gilroy-Bold.eot');
  src: local('../fonts/Gilroy Bold'), local('Gilroy-Bold'), url('../fonts/Gilroy-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/Gilroy-Bold.woff') format('woff'), url('../fonts/Gilroy-Bold.ttf') format('truetype');
  font-display: auto;
  font-weight: bold;
  font-style: normal;
}
/* colors */
/* basic settings */
html {
  font-size: 10px;
}
section {
  overflow-x: hidden;
}
body {
  font-family: 'Gilroy-Regular', Geneva, Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
}
.container {
  max-width: 1190px;
}
.main-container {
  max-width: 1140px;
  margin: 0 auto;
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.main-title {
  padding-top: 2.5rem;
  padding-bottom: 0.5rem;
  font-family: 'Gilroy-Bold', Geneva, Arial, Helvetica, sans-serif;
  font-size: 5rem;
  line-height: 8rem;
  color: #3b3b3b;
}
.title-block {
  text-align: center;
}
.title {
  font-family: 'Gilroy-Bold', Geneva, Arial, Helvetica, sans-serif;
  font-size: 3.6rem;
  text-transform: uppercase;
}
.title--orange {
  color: #e55222;
}
.title--white {
  color: #fff;
}
.title--cherry {
  color: #7a140f;
}
.header-title-extra {
  font-family: 'Gilroy-ExtraBold', Geneva, Arial, Helvetica, sans-serif;
  font-size: 3rem;
  line-height: 4rem;
}
.title-extra {
  font-family: 'Gilroy-ExtraBold', Geneva, Arial, Helvetica, sans-serif;
  font-size: 3rem;
  line-height: 4.6rem;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
}
.title-extra::after {
  margin: 3rem auto 0;
  content: '';
  display: block;
  width: 30%;
  height: 2px;
  background: #fff;
}
.subtitle {
  font-family: 'Gilroy-Bold', Geneva, Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  text-align: center;
}
.subtitle--white {
  color: #fff;
}
.subtitle--orange {
  color: #e55222;
}
.subtitle--dark-grey {
  color: #545454;
}
.text-medium {
  font-family: 'Gilroy-Medium', Geneva, Arial, Helvetica, sans-serif;
  font-size: 1.8rem;
  line-height: 3.6rem;
  color: #545454;
}
.main-form-wrapper {
  background: #fff;
  padding: 1rem;
  margin-left: -8rem;
}
.main-form-wrapper-border {
  padding: 2rem 2rem 1rem;
  border: 2px solid #cccccc;
}
.main-form-title {
  text-align: center;
  margin: 0 auto;
  font-family: 'Gilroy-Bold', Geneva, Arial, Helvetica, sans-serif;
  font-size: 1.8rem;
  text-transform: uppercase;
}
.main-form-text {
  color: #6e6e6e;
}
.main-form__input {
  width: 100%;
  padding: 1rem;
  font-size: 1.4rem;
  line-height: 1.4rem;
  border: 1px solid #7a7a7a;
  background: inherit;
  color: #545454;
}
.main-form__input::placeholder {
  color: #7a7a7a;
}
.main-form__button--red {
  display: block;
  width: 100%;
  padding: 1rem;
  text-transform: uppercase;
  text-align: center;
  background: #ff0000;
  color: #fff;
  box-shadow: 0 0 10px #000000;
  font-size: 1.5rem;
  transform: 0.5s;
}
.main-form__button--red:hover {
  background: #e60000;
  color: #fff;
}
.form__input {
  width: 100%;
  padding: 2rem 3rem;
  font-size: 1.8rem;
  line-height: 1.8rem;
  border: 1px solid #fff;
  background: inherit;
  color: #fff;
}
.form__input::placeholder {
  color: #fff;
}
.form__button {
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: #fff;
}
.button {
  display: inline-block;
  transition: 0.5s;
}
.button:hover {
  cursor: pointer;
  text-decoration: none;
}
.button--white {
  padding: 2rem 3rem;
  float: right;
  border: 3px solid #fff;
  border-radius: 5px;
  background: #e55222;
}
.button--white:hover {
  background: #d54719;
  color: #fff;
}
.button--light-green {
  padding: 2rem 3rem;
  border: 3px solid #1fd978;
  border-radius: 5px;
  background: #00af54;
}
.button--light-green:hover {
  background: #009648;
  color: #fff;
}
.button--orange {
  padding: 2rem 3rem;
  float: right;
  border: 3px solid #e55222;
  border-radius: 5px;
  background: #e55222;
}
.button--orange:hover {
  background: #d54719;
  color: #fff;
}
.button--green {
  padding: 2rem 3rem;
  border: 3px solid #00af54;
  border-radius: 5px;
  background: #00af54;
}
.button--green:hover {
  background: #009648;
  color: #fff;
}
.button--light-yellow {
  padding: 1rem 2rem;
  background: linear-gradient(to bottom, #ffc800, #ff9b00, #ffc800);
  background-size: 120px 120px;
  background-position-y: 0;
  color: #000;
  transition: background-position 200ms ease-out;
}
.button--light-yellow:hover {
  background-position-y: 40px;
  color: #000;
}
.button--light-red {
  padding: 1.5rem 8.5rem;
  text-transform: uppercase;
  border-radius: 0.5rem;
  background: linear-gradient(#ff3d3d 50%, #ff0000 51%);
  color: #fff;
}
.button--light-red:hover {
  background-position-y: 40px;
  color: #fff;
}
.button--red {
  width: 100%;
  padding: 1rem 2rem;
  background: #ff0000;
  color: #fff;
}
.button--red:hover {
  background: #e60000;
  color: #fff;
}
.button--yellow {
  width: 100%;
  padding: 1rem 2rem;
  background: #ffb900;
  color: #000;
}
.button--yellow:hover {
  background: #e6a700;
  color: #000;
}
.button--grey {
  border: 1px solid #b3b3b3;
  background: #cccccc;
  padding: 1rem 2rem;
  color: #000;
}
.button--grey:hover {
  background: #bfbfbf;
  color: #000;
}
.text--grey {
  color: #cccccc;
}
.text--dark-grey {
  color: #545454;
}
.catalog-items {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.catalog-item {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 28%;
  margin-bottom: 2rem;
  margin-right: 3rem;
  margin-left: 3rem;
  text-align: center;
  border: 1px solid #e55222;
}
.catalog-item__wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 2rem 2rem 0rem;
}
.catalog-item:focus {
  outline: none;
}
.catalog-item img {
  height: 25rem;
  max-width: 100%;
  margin: 0 auto;
  margin-bottom: auto;
}
.price {
  margin-bottom: 2rem;
  font-size: 2.8rem;
  color: #e55222;
}
.old-price {
  margin-bottom: 0rem;
  color: #a6a6a6;
}
.old-price span {
  text-decoration: line-through;
}
.bold {
  font-family: 'Gilroy-Bold', Geneva, Arial, Helvetica, sans-serif;
}
.fz-20 {
  font-size: 2rem;
}
.fz-22 {
  font-size: 2.2rem;
}
.fz-24 {
  font-size: 2.4rem;
}
.fz-30 {
  font-size: 3rem;
}
.w-80 {
  width: 80%;
}
.m-25-mt {
  margin-top: 2.5rem;
}
.m-25-mb {
  margin-bottom: 2.5rem;
}
.m-n13-mt {
  margin-top: -13rem;
}
.m-60-mt {
  margin-top: 6rem;
}
.m-40-mb {
  margin-bottom: 4rem;
}
.m-n2-ml {
  margin-left: -2rem;
}
.p-5-pr {
  padding-right: 5rem;
}
.p-5-pl {
  padding-left: 5rem;
}
.lh-16 {
  line-height: 1.6rem;
}
.lh-20 {
  line-height: 2rem;
}
.lh-46 {
  line-height: 4.6rem;
  letter-spacing: 0.3rem;
}
.lh-35 {
  line-height: 3.5rem;
}
@media (max-width: 991px) {
  .header-menu .phone-list {
    padding-left: 0;
  }
  .header-menu .button-menu {
    display: block;
    max-width: 70%;
    margin: 0 auto;
    text-align: center;
  }
  .header-menu .social-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 0;
    align-items: center;
  }
}
.shadow {
  box-shadow: 0 0 10px #000000;
}
nav ul {
  list-style: none;
}
.button-menu {
  padding: 1rem 1rem;
  border-radius: 5px;
  background: #e55222;
  font-size: 1.8rem;
  line-height: 2.1rem;
  color: #fff;
}
.button-menu:hover {
  background: #d54719;
  color: #fff;
}
.menu-list a {
  color: #000;
}
.menu-list a:hover {
  color: #d54719;
}
.menu-list a:focus {
  color: #ea7650;
}
.phone-list {
  text-align: center;
  line-height: 2rem;
}
.phone-list li:nth-child(1) a {
  font-family: 'Gilroy-Bold', Geneva, Arial, Helvetica, sans-serif;
  font-size: 2.2rem;
  color: #e55222;
}
.fixed {
  position: fixed;
  top: 0;
  width: 100%;
  background: #fff;
  z-index: 5;
}
.header-content {
  position: relative;
  margin-top: 8.6rem;
  background: url('../img/main-bg.jpg') no-repeat center center / cover;
}
.header-content::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
}
.header-content .main-container {
  position: relative;
  z-index: 3;
}
@media (max-width: 767px) {
  .header-content .content-border {
    margin: 0 auto;
    padding: 5rem;
    text-align: center;
  }
  .header-content .bobber {
    margin: 0 auto;
    text-align: center;
  }
  .header-content .content-border {
    border: none;
  }
  .header-content .main-form-wrapper {
    margin: 0 auto;
    max-width: 70%;
  }
}
@media (max-width: 425px) {
  .header-content .header-title-extra {
    font-size: 2.5rem;
    line-height: 3rem;
  }
  .header-content .content-border p {
    font-size: 1.8rem;
    line-height: 1.8rem;
  }
  .header-content .main-form-wrapper {
    max-width: 95%;
  }
}
.bobber {
  display: inline-block;
  margin-left: -4rem;
  padding: 0.7rem 4rem;
  background: #e55222;
  color: #fff;
  font-size: 1.5rem;
}
.bobber--shadow {
  box-shadow: 0 0 10px #000000;
}
.content-border {
  padding: 3rem 10.5rem 4rem 2.5rem;
  border: 3px solid #fff;
}
.about-tandoor .text-medium {
  text-align: justify;
}
.about-tandoor__item {
  display: flex;
  background: #f2f2f2;
}
.about-tandoor img {
  object-fit: contain;
  border: 1rem solid #cccccc;
}
.about-tandoor__description {
  padding: 2.5rem 4rem;
}
@media (max-width: 1200px) {
  .about-tandoor img {
    max-height: 60rem;
  }
  .about-tandoor .main-container {
    max-width: 93%;
  }
}
@media (max-width: 1094px) {
  .about-tandoor .main-title {
    text-align: center;
  }
}
@media (max-width: 991px) {
  .about-tandoor__item {
    flex-direction: column;
    max-width: 90%;
    margin: 0 auto;
  }
  .about-tandoor img {
    max-height: 50rem;
  }
}
@media (max-width: 588px) {
  .about-tandoor {
    text-align: justify;
  }
  .about-tandoor .main-title {
    font-size: 3.5rem;
    line-height: 4rem;
  }
}
@media (max-width: 425px) {
  .about-tandoor .main-title {
    padding-bottom: 2rem;
  }
  .about-tandoor .text-medium {
    font-size: 1.4em;
    line-height: 2.5rem;
  }
  .about-tandoor img {
    max-height: 35rem;
  }
}
.cooking .title::after {
  margin: 3rem auto 0;
  content: '';
  display: block;
  width: 5%;
  height: 2px;
  background: #cccccc;
}
.cooking__wrapper,
.cooking__description {
  display: flex;
  flex-direction: row;
}
.cooking__block {
  width: 50%;
}
.cooking__description {
  padding: 3.5rem;
}
.cooking__num {
  position: relative;
  padding: 2rem;
  font-size: 5rem;
  color: #cccccc;
  top: 0rem;
}
.cooking__num::after {
  position: absolute;
  top: 7rem;
  left: 1rem;
  content: '';
  width: 100%;
  height: 1px;
  background: #e5e5e5;
  transform: rotate(-45deg);
}
.cooking__text {
  width: 70%;
}
.cooking .shashlik-bg {
  height: 30rem;
  background: url('../img/shashlik.jpg') no-repeat center center / cover;
}
.cooking .fish-bg {
  min-height: 30rem;
  background: url('../img/fish.jpg') no-repeat center center / cover;
}
.cooking .veggies-bg {
  min-height: 30rem;
  background: url('../img/veggies.jpg') no-repeat center center / cover;
}
.cooking .bake-bg {
  min-height: 30rem;
  background: url('../img/bake.jpg') no-repeat center center / cover;
}
@media (max-width: 991px) {
  .cooking__wrapper {
    flex-direction: column;
  }
  .cooking__block {
    min-height: 30rem;
    width: 70%;
    margin: 0 auto;
  }
}
@media (max-width: 648px) {
  .cooking__block {
    width: 90%;
  }
}
@media (max-width: 500px) {
  .cooking__block {
    width: 100%;
  }
  .cooking__description {
    padding: 2.5rem;
  }
}
@media (max-width: 375px) {
  .cooking__block {
    width: 100%;
  }
  .cooking__description {
    padding: 1.5rem;
  }
}
.border-btm--orange {
  border-bottom: 3px solid #e55222;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.border-btm--light-green {
  border-bottom: 3px solid #1fd978;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.border-btm--purple {
  border-bottom: 3px solid #a37bf1;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.border-btm--yellow {
  border-bottom: 3px solid #ffb900;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.advantages__slider {
  text-align: center;
}
.advantages__item {
  outline: none;
}
.advantages__img {
  margin: 0 auto;
  max-width: 16.4rem;
  max-height: 16.4rem;
}
.advantages p {
  max-width: 70%;
  font-size: 2rem;
  line-height: 2.4rem;
  color: #545454;
}
@media (max-width: 425px) {
  .advantages .title {
    font-size: 2.8rem;
  }
}
/* class .arrow belongs to js */
.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 4;
  width: 3rem;
  height: 3rem;
  border: none;
  background-size: 150%;
}
.arrow--next-circle {
  right: -3rem;
  width: 7rem;
  height: 7rem;
  background: url("../img/main-arrow-right.png") center no-repeat / cover;
}
.arrow--next-circle:focus {
  outline: none;
}
.arrow--prev-circle {
  left: -3rem;
  width: 7rem;
  height: 7rem;
  transform: translateY(-50%) rotate(180deg);
  background: url("../img/main-arrow-right.png") center no-repeat / cover;
}
.arrow--prev-circle:focus {
  outline: none;
}
.arrow--next {
  right: 0;
  background: url("../img/right-arrow.png") center no-repeat / cover;
}
.arrow--next:focus {
  outline: none;
}
.arrow--prev {
  left: 0;
  transform: translateY(-50%) rotate(180deg);
  background: url("../img/right-arrow.png") center no-repeat / cover;
}
.arrow--prev:focus {
  outline: none;
}
@media (max-width: 425px) {
  .arrow--next-circle {
    top: 25%;
  }
  .arrow--prev-circle {
    top: 25%;
  }
}
.list {
  font-size: 1.5rem;
  list-style: none;
}
.plus::before {
  content: url('../img/success.png');
  display: inline-block;
  max-width: 3rem;
  max-height: 3rem;
  margin-right: 0.5rem;
  vertical-align: middle;
}
.minus::before {
  content: url('../img/failed.png');
  display: inline-block;
  max-width: 3rem;
  max-height: 3rem;
  margin-right: 0.5rem;
  vertical-align: middle;
}
.video-tandoor {
  position: relative;
  text-align: center;
  background: url('../img/video-tandoor.jpg') no-repeat center center / cover;
}
.video-tandoor::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(246, 106, 61, 0.8);
  z-index: 2;
}
.video-tandoor .main-container {
  position: relative;
  z-index: 3;
  padding: 15rem;
}
.video-tandoor p {
  padding-top: 2rem;
  font-size: 3rem;
  text-transform: uppercase;
  color: #fff;
}
@media (max-width: 425px) {
  .video-tandoor p {
    font-size: 2.1rem;
  }
}
@media (max-width: 767px) {
  .video-tandoor .main-container {
    padding: 7rem 0rem;
  }
  .video-tandoor img {
    width: 70px;
  }
  .video-tandoor p {
    max-width: 80%;
    margin: 0 auto;
  }
}
.compare__subtitle {
  padding-left: 4rem;
  font-size: 2.2rem;
}
@media (max-width: 425px) {
  .compare .title {
    font-size: 2.8rem;
  }
  .compare__subtitle {
    text-align: center;
  }
  .compare .list {
    padding: 2rem;
  }
}
@media (max-width: 767px) {
  .compare img {
    margin: 0 auto;
  }
}
@media (min-width: 992px) {
  .compare .m-n4-ml {
    margin-left: -4rem;
    padding-left: 0rem;
  }
}
.consultation {
  background: #e55222;
}
@media (max-width: 767px) {
  .consultation .title-extra {
    font-size: 2.1rem;
    line-height: 3.2rem;
  }
  .consultation .subtitle {
    font-size: 1.6rem;
    line-height: 3rem;
  }
}
@media (max-width: 991px) {
  .consultation .button--white {
    float: none;
    display: block;
    margin: 0 auto;
    text-align: center;
    max-width: 100%;
  }
  .consultation .button--light-green {
    display: block;
    text-align: center;
  }
}
.tandoor-catalog {
  text-align: center;
}
@media (max-width: 425px) {
  .tandoor-catalog .title {
    font-size: 2.8rem;
  }
  .tandoor-catalog .catalog-item {
    max-width: 95%;
  }
  .tandoor-catalog .tracery {
    display: none;
  }
}
@media (max-width: 767px) {
  .tandoor-catalog .catalog-items {
    padding-right: 5rem;
    padding-left: 5rem;
  }
  .tandoor-catalog .catalog-item {
    min-width: 31rem;
  }
}
.quiz {
  text-align: center;
  background: #fcf6ec;
}
.quiz p {
  font-size: 3.6rem;
  color: #7a140f;
}
@media (max-width: 425px) {
  .quiz .title {
    font-size: 2.8rem;
  }
  .quiz p {
    font-size: 2.8rem;
  }
  .quiz .tracery {
    display: none;
  }
  .quiz a {
    display: block;
    flex-wrap: nowrap;
    margin: 2rem auto 0;
    padding: 1rem 2rem;
    max-width: 75%;
    font-size: 2.1rem;
  }
}
.accessories-catalog {
  text-align: center;
}
.accessories-catalog .catalog-item {
  display: flex;
}
@media (max-width: 766px) {
  .accessories-catalog__slider {
    max-width: 80%;
    margin: 0 auto;
  }
}
@media (max-width: 425px) {
  .accessories-catalog .title {
    font-size: 2.8rem;
  }
  .accessories-catalog__slider {
    max-width: 100%;
    margin: 0 auto;
  }
  .accessories-catalog .tracery {
    display: none;
  }
}
.video-reviews iframe {
  width: 100%;
  height: 300px;
}
@media (max-width: 425px) {
  .video-reviews .title {
    font-size: 2.8rem;
  }
  .video-reviews iframe {
    max-height: 210px;
  }
}
@media (max-width: 991px) {
  .video-reviews iframe {
    display: block;
    margin: 0 auto;
    max-width: 80%;
  }
}
.contacts {
  padding-top: 4rem;
  padding-bottom: 4rem;
  font-size: 1.8rem;
}
.contacts--light-grey {
  background: #f2f2f2;
}
.contacts iframe {
  width: 100%;
  height: 450px;
}
@media (max-width: 425px) {
  .contacts .title {
    font-size: 2.8rem;
  }
  .contacts__mob {
    padding: 2rem 1rem;
    text-align: center;
  }
}
.consultation-footer {
  background: #1b133b;
}
.consultation-footer .title-extra::after {
  background: #e55222;
}
@media (max-width: 767px) {
  .consultation-footer .title-extra {
    font-size: 2.1rem;
    line-height: 3.2rem;
  }
  .consultation-footer .subtitle {
    font-size: 1.6rem;
    line-height: 3rem;
  }
}
@media (max-width: 991px) {
  .consultation-footer .button--orange {
    float: none;
    display: block;
    margin: 0 auto;
    text-align: center;
    max-width: 100%;
  }
  .consultation-footer .button--green {
    display: block;
    text-align: center;
  }
}
.social-media {
  margin-bottom: 0;
  list-style: none;
}
.social-media li {
  display: inline;
  padding-right: 1rem;
}
.footer {
  padding-top: 4rem;
  padding-bottom: 4rem;
  background: #af3c17;
}
.footer p {
  margin-bottom: 0;
  line-height: 5.2rem;
  font-size: 1.8rem;
  color: #fff;
}
.footer img {
  min-height: 5.2rem;
  line-height: 5.2rem;
}
@media (max-width: 769px) {
  .footer {
    text-align: center;
  }
  .footer p {
    padding-bottom: 2rem;
    line-height: 2.6rem;
  }
  .footer .social-media {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 2rem;
  }
}
.slick-track,
.slick-slide {
  height: 100%;
}
